@import (inline) "../fonts/icons.css";
@import (inline) "../fonts/texgyreheros-bold-webfont.css";

body {
  width: 800px;
  margin: 10px auto;
}

@mark-size: 115px;
@font-size: 100px;

.logo {
  font-size: @font-size;
  position: relative;

  span {
    position: absolute;
    font-family: 'texgyreherosbold';
    letter-spacing: -5px;
    line-height: 105px;
    top: 0;
  }

  .logo--text-first {
    left: 130px;
  }

  .icon-logo-plus {
    font-size: 50px;
    position: absolute;
    line-height: @mark-size;
    top: 5px;
    left: 330px;
  }

  .logo--text-third {
    left: 370px;
  }

}

.logo-mark {
  position: relative;
  width: @mark-size;
  height: @mark-size;

  .icon {
    position: absolute;
  }

  .icon-logo-one {
    top: 0;
    left: 0;
    font-size: 70px;
  }

  .icon-logo-bullet {
    @size: 22px;
    top: (@mark-size - @size)/2;
    left: (@mark-size - @size)/2;
    font-size: @size;
  }

  .icon-logo-three {
    font-size: 100px;
    right: 0;
    bottom: 0;
  }

}

.logo-container {
  padding: 20px 0;
}

.colors {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.swatches {
  border: 1px solid #ccc;
  margin: 0px 10px 10px 0;
  &:hover {
    border-color: #000;
  }
  span {
    float: left;
    width: 25px;
    height: 25px;
  }
}

[ng-click] {
  cursor: pointer;
}


