<!DOCTYPE html>
<html lang="en" ng-app="logo">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://rawgit.com/firstandthird/ft-ui/master/dist/ft-ui.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="scripts.js"></script>
  </head>
  <body ng-controller="ColorizerController">
    <div class="logo-container spacing-large" css="'background-color'" css-value="backgroundColor">
      <div class="logo">
        <div class="logo-mark">
          <i class="icon icon-logo-one" css="'color'" css-value="secondaryColor"></i>
          <i class="icon icon-logo-bullet" css="'color'" css-value="secondaryColor"></i>
          <i class="icon icon-logo-three" css="'color'" css-value="primaryColor"></i>
        </div>
        <span class="logo--text-first" css="'color'" css-value="secondaryColor">First</span>
        <i class="icon icon-logo-plus" css="'color'" css-value="primaryColor"></i>
        <span class="logo--text-third" css="'color'" css-value="secondaryColor">Third</span>
      </div>
    </div>
    <div class="grid12 colors">
      <div class="column4 color-primary">
        <h3>Primary Color</h3>
        <input ng-model="primaryColor" type="color"/>
        <span ng-bind="primaryColor"></span>
      </div>
      <div class="column4 color-secondary">
        <h3>Secondary Color</h3>
        <input ng-model="secondaryColor" type="color"/>
        <span ng-bind="secondaryColor"></span>
      </div>
      <div class="column4 color-background">
        <h3>Background Color</h3>
        <input ng-model="backgroundColor" type="color"/>
        <span ng-bind="backgroundColor"></span>
      </div>
      <div class="column12">
        <h3>Inspirational Colors</h3>
        <ul>
          <li><a target="_blank" href="http://flatuicolors.co/">Flat Colors</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
